// $theme-primary: #C21010;
// $theme-secondary: #E64848;
// $theme-tertiary: #FFFDE3;
// $theme-quaternary: #CFE8A9;
$theme-primary: #FF5959;
$theme-secondary: #676FA3;
$theme-tertiary: #CDDEFF;
$theme-quaternary: #EEF2FF;

// COLORES

$verde: #32DE8A;
$verde2: #499F68;
$amarillo: #FDE74C;
$azul: #009FD8;
$gris: gray;
$blanco: #FBFEF9;
$blanco-trans: #FBFEF966;
$negro: #000004;
// $rojo: #FF525D;
$rojo: #C21010;

$colores: $verde, $amarillo, $azul, $gris;
